
<!DOCTYPE html>
<html>
    <head>
      <%- include('partials/head'); -%>
    </head>
    <body class="container">
      <header>
        <%- include('partials/header') -%>
      </header>
      <div >
        <h1><%= title %></h1>
        <div>
          <form method="GET" action="users">
            <input type="text" name="q" value="<%= query.q %>" />
            <button>Search</button>
          </form>
          <ul>
            <% users.map(val => { %>
              <li><%= val.name %> - <%= val.phone %> </li>
            <% }) %>
          </ul>
          <a href="/users/create">Add users</a>
        </div>
      </div>
    
  </body>
</html>
